.job-result {
  @extend .message;

  &.success { @extend .is-success; }
  &.failed { @extend .is-danger; }

  margin-top: 1.5rem;

  header {
    @extend .message-header;
    @extend .level;

    // TODO: figure out a way to not mark this as important
    margin-bottom: 0 !important;

    > .status { @extend .level-left; }
    > .actions { @extend .level-right; }

    > .status,
    > .actions {
        > div { @extend .level-item; }

        .copy {
            @extend .button;
            @extend .is-small;
            @extend .is-primary;
            @extend .is-inverted;
            @extend .is-outlined;

            @extend %button-with-icon-first;
            i::before { content: "\f0c5"; } // copy
        }
    }
  }

  section {
    @extend .message-body;
    @extend .content;

    li { margin-top: 0; }

    &.staging { display: none; }
  }
}
