@import '../../scss/placeholders';

.task-details {
  @extend .modal;
  @extend .is-active;

  form {
    @extend .modal-card;

    overflow: visible;

    > header {
      @extend .modal-card-head;
      @extend .has-text-centered;

      background: #475698;
      background: linear-gradient(135deg, #475698 0%, #1f2d6e 100%);

      p {
        @extend .modal-card-title;
        @extend .has-text-white;
        @extend .has-text-weight-semibold;
      }
    }

    > section {
      @extend .modal-card-body;
      @extend .has-background-white-ter;

      overflow: scroll;
      padding-bottom: 0;

      p { @extend .content; }
      > div { @extend .container; }

      // make sure the bottom padding remains with overflow:scroll
      &::after {
        content: "";
        display: block;
        height: 20px;
        width: 100%;
      }
    }

    .last-result {
      @extend .is-centered;
      @extend .has-text-centered;
      @extend .is-size-7;
      @extend .has-text-grey;

      margin-top: 3rem;
      margin-bottom: -0.75rem;
      white-space: pre-wrap;
    }

    > footer {
      @extend .modal-card-foot;

      .back {
        @extend %button-with-icon-first;
        i::before { content: "\f137"; } // chevron-circle-left
      }

      button.ok,
      button.unauthenticated,
      button.unauthorized {
        @extend .is-fullwidth;
        @extend %button-with-icon-last;
      }

      input.login {
        @extend .input;
        @extend .is-medium;
      }

      button {
        @extend .is-medium;

        &.ok {
          @extend .is-info;
          i::before { content: "\f00c"; } // check
        }

        &.unauthenticated {
          @extend .is-warning;
          @extend .has-text-light;
          i::before { content: "\f577"; } // fingerprint
        }

        &.unauthorized {
          @extend .is-danger;
          @extend .has-text-white-ter;
          i::before { content: "\f023"; } // lock
        }
      }
    }
  }

  > div:first-child { @extend .modal-background; }
}

// TODO: This styles the "task menu". This menu is not enabled yet, but the styling is committed to
// keep it around when the menu is enabled.
//
// see: https://bulma.io/documentation/components/dropdown/#dropdown-content
//
.menu {
  @extend .dropdown;
  @extend .is-up;
  @extend .is-right;

  margin-right: 0.6em;

  > div:nth-child(1) > button {
    @extend %button-with-icon-first;
    i::before { content: "\f805"; } // hamburger
  }

  div[role=menu] {
    > div { @extend .dropdown-content; }
  }

  p {
    @extend .is-size-7;
    @extend .has-text-grey;
  }

  a { @extend .has-text-grey-dark; }
  hr { @extend .dropdown-divider; }

  .dropdown-menu > div > div > {
    div,
    a {
      @extend .dropdown-item;
    }
  }

  .help {
    a {
      @extend .is-uppercase;
      @extend .has-text-weight-semibold;
      @extend .has-text-success;
      i::before { content: "\f1cd"; } // life-ring
    }

    i::before { content: "\f5b8"; } // smile-beam
  }

  .one-click {
    i::before { content: "\f04e"; } // forward
  }

  .favourite {
    i::before { content: "\f005"; } // star
  }

  .last-result {
    i::before { content: "\f2f9"; } // redo-alt
  }
}
