.variable {
  @extend .columns;
  @extend .is-gapless;
  > div { @extend .column; }

  &-checkbox label {
    @extend .checkbox;
    @extend .is-size-6;
  }

  &-radio label {
    @extend .radio;
    @extend .is-size-6;
  }

  &-label {
    @extend .is-one-quarter;

    > div {
      @extend .field-label;
      @extend .is-normal;
      label { @extend .label; }
    }
  }

  &-field {
    @extend .field;

    > div:first-child {
      @extend .control;
      @extend .is-size-5;
    }
  }

  &-details {
    @extend .help;

    p { margin-bottom: 0.25rem !important; }
  }

  &-advertisers {
    @extend .level;
    @extend .is-mobile;

    .menu {
      @extend %menu;
      @extend .is-hoverable;
    }

    .dropdown-menu > div {
      // break out of the parent's overflow:scroll
      position: fixed;
      max-width: 190px;
    }

    > span > a,
    .menu > div > a {
      @extend .button;
      @extend .is-small;
      @extend .is-text;

      padding: 0 0.2em !important;
    }

    > span { @extend .level-left; }

    .info {
      @extend %span-icon;

      margin: 0 !important;
      i::before { content: "\f05a"; } // info-circle
    }
  }

  &-select {
    @extend .is-size-6;
    @extend .select;
    @extend .is-normal;
    @extend .is-fullwidth;
  }
}
